<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <getChromeData>
        <processor type="Sitecore.Support.ContentTesting.Pipelines.GetChromeData.GetRenderingTestVariations, Sitecore.Support.110468" patch:instead="processor[@type='Sitecore.ContentTesting.Pipelines.GetChromeData.GetRenderingTestVariations, Sitecore.ContentTesting']" />
      </getChromeData>
    </pipelines>
  </sitecore>
</configuration>